<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/style.css">

</head>

<body> 
    <div class="header1">
        <!-- <span onclick="sendMail()" class="elements" id="e1">ask@alumni.com</span> -->
        <a href="/login" class="elements" id="e2">Log in</a>
        <a href="/signup" class="elements" id="e3">Sign Up</a>
    </div>

    <div id="header2">
        
        <!-- <i class="fa-solid fa-graduation-cap fa-lg"></i> -->
        <span class="logo"><img id="logo-image" src="public/grad-big.png" alt=""> <h2 id="h3">Alumni Connection Portal</h2></span>
        <!-- <h2 id="h3">Alumni Connection Portal</h2> -->
        <p id="p1">Stay connected forever</p>
    </div>

    <div id="img1">
        <img src="public/img10.png" alt="" id="alumni-iamge">
    </div>
    
    <div id="searchmenu">
        <p id="p2">Search the Alumni</p>
        <p id="p3">

            <label id="label1" class="label" for="course">Course name :</label>
            <select name="courses" id="course-name">
                <option value="BBA">BBA</option>
                <option value="BCA">BCA</option>
                <option value="BCOM">BCOM</option>
                <option value="BA">BA</option>
            </select>

            <label id="label2" class="label" for="year">Year enrolled :</label>
            <select name="year" id="year-enrolled">
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
            <img src="public/icons8-google-web-search-50.png" alt="" id="search_icon">
        </p>
    </div>

    <div class="container">

        <div class="item" id="col1"> <span class="spanelm">Name</span> </div>
        <div class="item" id="col2"> <span class="spanelm">Year</span></div>
        <div class="item" id="col3"> <span class="spanelm">Course Name</span></div>
        <div class="item" id="col4"> <span class="spanelm">Linedin Profile URL</span></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>

    </div>


    <!-- This is for Event Module -->

    <div class="event-module">
        <div class="event-info">
            <h1 class="event-main-header">
                Upcoming Events
            </h1>
        </div>

        <div class="event-body">
            <!--******************************************** Event 1 -->
            <div class="events" id="event1">
                
                <div class="event-center">
                    <h3 class="event-name">Rock Music Festival</h3>
                    <span class="event-organizer">Organized by: <span class="event-organizer-child">Amity University
                            Ranchi</span> </span>
                    <p class="event-period">Duration: <span class="event-period-child">3 to 4 August 2023</span> </p>
                    <span class="event-organizer">Venue: <span class="event-organizer-child">Amity University Ranchi</span> </span>
                </div>

                <p class="event-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magni at
                    rem
                    accusantium mollitia doloribus voluptatibus omnis blanditiis ratione illum vero numquam, saepe
                    culpa
                    aspernatur ipsum! Perferendis earum praesentium fuga.
                </p>
                <div class="interest-remind">
                    <!-- <span class="interested">Interested? </span> -->
                    <a href="/thankyou_page"><button class="remind-me"> Remind me a day before</button> </a>

                </div>
                
            </div>
            <!--******************************************** Event 2 -->
            <div class="events" id="event2">

                <div class="event-center">
                    <h3 class="event-name">100 meter Marathon</h3>
                    <span class="event-organizer">Organized by: <span class="event-organizer-child">Yogada
                            College Ranchi</span> </span>
                            <p class="event-period">Duration: <span class="event-period-child">11 to 13 August 2023</span> </p>
                            <span class="event-organizer">Venue: <span class="event-organizer-child">Morabadi Field Harmu</span> </span>

                </div>

                <p class="event-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magni at
                    rem
                    accusantium mollitia doloribus voluptatibus omnis blanditiis ratione illum vero numquam, saepe
                    culpa
                    aspernatur ipsum! Perferendis earum praesentium fuga.
                </p>
                <div class="interest-remind">
                    <!-- <span class="interested">Interested? </span> -->
                    <a href="/thankyou_page"><button class="remind-me"> Remind me a day before</button> </a>
                </div>
            </div>
            <!-- ****************************************** Event 3 -->
            <div class="events" id="event3">

                <div class="event-center">
                    <h3 class="event-name">Be Yourself</h3>
                    <span class="event-organizer">Organized by: <span class="event-organizer-child">Yogada
                            College</span>
                    </span>
                    <p class="event-period">Duration: <span class="event-period-child">21 to 23 August 2023</span> </p>
                    <span class="event-organizer">Venue: <span class="event-organizer-child">Auditorium YSM</span> </span>
                </div>

                <p class="event-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio magni at
                    rem
                    accusantium mollitia doloribus voluptatibus omnis blanditiis ratione illum vero numquam, saepe
                    culpa
                    aspernatur ipsum! Perferendis earum praesentium fuga.
                </p>
                <div class="interest-remind">
                    <!-- <span class="interested">Interested? </span> -->
                    <a href="/thankyou_page"><button class="remind-me"> Remind me a day before</button> </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ************************************         JOB OPPORTUNITY         *********** -->
    <div id="job-body">
        
    </div>

    <!-- *********************************    for connect  -->
    <div id="connect">
        <h2 id="header3">Why to Connect?</h2>
        <p id="p_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos quos aliquid autem voluptatem
            numquam rerum odit id quam amet maiores.</p>

        <div id="for_boxes">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>

    <!-- This is for Footer -->
    <div id="footer">
        <p id="copyright">copyright © reserved 2023</p>
        <p id="sm_follow">
            <span class="sm_icons"><img src="public/fb.png" alt=""></span>
            <span class="sm_icons"><img src="public/insta.png" alt=""></span>
            <span class="sm_icons"><img src="public/twitter.png" alt=""></span>
            <span class="sm_icons"><img src="public/yt.png" alt=""></span>
        </p>
    </div>
    <a href="/table"> Table</a>
    {{!-- <script src="as6.js"></script> --}}
</body>

</html>