<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="public/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="header1">
        <!-- <span onclick="sendMail()" class="elements" id="e1">ask@alumni.com</span> -->
        <a href="/home" class="elements" id="e2">Log out</a>
        <!-- <a href="./login_signup.html" class="elements" id="e3"></a> -->
        <!-- <i id="profile-icon" class='bx bx-user-circle'></i> -->
        {{!-- <img id="profile-icon" src="bx-user-circle.svg" alt=""> --}}
    </div>

    <div id="header2">

        <!-- <i class="fa-solid fa-graduation-cap fa-lg"></i> -->
        <span class="logo"><img id="logo-image" src="public/grad-big.png" alt="">
            <h2 id="h3">Alumni Connection Portal</h2>
        </span>
        <!-- <h2 id="h3">Alumni Connection Portal</h2> -->
        <p id="p1">Stay connected forever</p>
    </div>
    <!-- *****************************  welcome user  ******* -->

    <div class="container">
        <h2 class="title">
            <span class="title-word title-word-1">Hello</span>
            <span class="title-word title-word-2">imran</span>
        </h2>
    </div>
    <p id="messege">
        You are now viewing your profile. <a href="update_profile.html">click here </a> to make changes in it.
    </p>


    <div class="container1">
        {{formdata}}
        <div class="item" id="firstname">
            <span class="mark">Firstname:</span> 
            <span class="spanelm"> firstname</span>
        </div>

        <div class="item" id="lastname">
            <span class="mark">Lastname:</span>
            <span class="spanelm">lastname</span>
        </div>

        <div class="item" id="email"> 
            <span class="mark">Email:</span>
            <span class="spanelm"> email</span>
        </div>

        <div class="item" id="linkedin"> 
            <span class="mark">Linkedin:</span> 
            <span class="spanelm"> linkedin</span>
        </div>

        <div class="item" id="course-name"> 
            <span class="mark">Course Name:</span> 
            <span class="spanelm">course-name</span>
            
        </div>

        <div class="item" id="year-enrolled"> 
            <span class="mark">Year Enrolled:</span> 
            <span class="spanelm"> year-enrolled</span>
        </div>

        <div class="item" id="username"> 
            <span class="mark">Username:</span> 
            <span class="spanelm"> username</span>
        </div>

        <div class="item" id="password"> 
            <span class="mark">Password:</span> 
            <span class="spanelm">password</span>
        </div>
        <!-- <div class="item"></div> -->

    </div>
    


    <!-- ****************************** This is for Footer ********** -->

    <div id="footer">
        <p id="copyright">copyright © reserved 2023</p>
        <p id="sm_follow">
            <span class="sm_icons"><img src="public/fb.png" alt=""></span>
            <span class="sm_icons"><img src="public/insta.png" alt=""></span>
            <span class="sm_icons"><img src="public/twitter.png" alt=""></span>
            <span class="sm_icons"><img src="public/yt.png" alt=""></span>
        </p>
    </div>
    {{!-- -------------------------------------------------------------------------------------------------------- --}}

</body>

</html>