@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap'); 
@media all{ 
  div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  .clearfix { 
    zoom: 1;
  } 

  div.section { 
    margin: 12px 0;
  } 

  .columns { 
    float: left; 
    display: inline; 
    margin-left: 10px; 
    margin-right: 10px;
  } 

  .container .sixteen.columns { 
    width: 1180px;
  } 

  .container { 
    position: relative; 
    width: 1200px; 
    margin: 0 auto; 
    padding: 0;
  } 

  div.container { 
    margin: 0 auto; 
    padding: 20px 0;
  } 

  div.content { 
    padding: 15px 0px;
  } 

  body { 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  14px; 
    font:   inherit;
    line-height:  1.8em;
    background-color: #ffffff; 
    -webkit-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-family: Source Sans Pro; 
    font-weight: normal; 
    text-transform: none; 
    color: #404040; 
  } 

  html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  h1 { 
    display:  block; 
    margin:  0 auto 20px; 
    padding:  0 0 8px 0; 
    border:   0; 
    font-size:  34px; 
    font:   inherit;
    font-family:  Source Sans Pro; 
    font-weight:  normal;
    text-transform:  uppercase; 
    color:  #cc5e08; 
    letter-spacing:  0px; 
    text-rendering:  optimizeLegibility; 
    -webkit-font-smoothing:  antialiased;
    line-height: 50px; 
    text-align: center; 
    border-bottom: 1px solid #d3d3d3; 
    border-top: none; 
    clear: both; 
  } 

  :selection { 
    background-color: #000; 
    color: #fff;
  } 
}     




@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap'); 
@media all{ 
  div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  .columns { 
    float: left; 
    display: inline; 
    margin-left: 10px; 
    margin-right: 10px;
  } 

  .container .ten.columns { 
    width: 730px;
  } 

  form { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit;
    margin-bottom: 20px;
  } 

  .contact-form { 
    margin-bottom: 0;
  } 

  .container { 
    position: relative; 
    width: 1200px; 
    margin: 0 auto; 
    padding: 0;
  } 

  div.container { 
    margin: 0 auto; 
    padding: 20px 0;
  } 

  div.content { 
    padding: 15px 0px;
  } 

  body { 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  14px; 
    font:   inherit;
    line-height:  1.8em;
    background-color: #ffffff; 
    -webkit-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-family: Source Sans Pro; 
    font-weight: normal; 
    text-transform: none; 
    color: #404040; 
  } 

  html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  .clearfix { 
    zoom: 1;
  } 

  div.section { 
    margin: 12px 0;
  } 

  .clearfix:before,.clearfix:after,.row:before,.row:after { 
    content: '\0020'; 
    display: block; 
    overflow: hidden; 
    visibility: hidden; 
    width: 0; 
    height: 0;
  } 

  .row:after,.clearfix:after { 
    clear: both;
  } 

  :selection { 
    background-color: #000; 
    color: #fff;
  } 

  p { 
    margin:  0 0 20px; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit;
    font-style: normal;
  } 

  h5 { 
    display:  block; 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  22px; 
    font:   inherit;
    font-family:  Source Sans Pro; 
    font-weight:  normal; 
    text-transform:  uppercase; 
    color:  #cc5e08; 
    letter-spacing:  0px; 
    text-rendering:  optimizeLegibility; 
    -webkit-font-smoothing:  antialiased;
    line-height: 28px; 
    padding-bottom: 5px;
  } 

  span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#style-474aA.style-474aA {  
   text-align: left;  
}  
#style-B2lrX.style-B2lrX {  
   line-height: 1.4;  
}  
#style-CsbsS.style-CsbsS {  
   line-height: 1.4;  
}  
#style-lI8Z6.style-lI8Z6 {  
   line-height: 1.4;  
}  
#style-k5gJK.style-k5gJK {  
   line-height: 1.4;  
}  
#style-9xpdw.style-9xpdw {  
   line-height: 1.4;  
}  
#style-lkFXe.style-lkFXe {  
   line-height: 1.4;  
}  
#style-ZTNve.style-ZTNve {  
   line-height: 1.4;  
}  
#style-TBNVE.style-TBNVE {  
   line-height: 1.4;  
}  
#style-gS6iM.style-gS6iM {  
   line-height: 1.4;  
}  


@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap'); 
@media all{ 
  div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  .clearfix { 
    zoom: 1;
  } 

  div.section { 
    margin: 12px 0;
  } 

  .columns { 
    float: left; 
    display: inline; 
    margin-left: 10px; 
    margin-right: 10px;
  } 

  .container .sixteen.columns { 
    width: 1180px;
  } 

  .container { 
    position: relative; 
    width: 1200px; 
    margin: 0 auto; 
    padding: 0;
  } 

  div.container { 
    margin: 0 auto; 
    padding: 20px 0;
  } 

  div.content { 
    padding: 15px 0px;
  } 

  body { 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  14px; 
    font:   inherit;
    line-height:  1.8em;
    background-color: #ffffff; 
    -webkit-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-family: Source Sans Pro; 
    font-weight: normal; 
    text-transform: none; 
    color: #404040; 
  } 

  html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  h1 { 
    display:  block; 
    margin:  0 auto 20px; 
    padding:  0 0 8px 0; 
    border:   0; 
    font-size:  34px; 
    font:   inherit;
    font-family:  Source Sans Pro; 
    font-weight:  normal;
    text-transform:  uppercase; 
    color:  #cc5e08; 
    letter-spacing:  0px; 
    text-rendering:  optimizeLegibility; 
    -webkit-font-smoothing:  antialiased;
    line-height: 50px; 
    text-align: center; 
    border-bottom: 1px solid #d3d3d3; 
    border-top: none; 
    clear: both; 
  } 

  :selection { 
    background-color: #000; 
    color: #fff;
  } 

  .container .ten.columns { 
    width: 730px;
  } 

  form { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit;
    margin-bottom: 20px;
  } 

  .contact-form { 
    margin-bottom: 0;
  } 

  p { 
    margin:  0 0 20px; 
    padding:  0; 
    border:  0; 
    font-size:  100%; 
    font:  inherit;
    font-style: normal;
  } 

  h5 { 
    display:  block; 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  22px; 
    font:   inherit;
    font-family:  Source Sans Pro; 
    font-weight:  normal; 
    text-transform:  uppercase; 
    color:  #cc5e08; 
    letter-spacing:  0px; 
    text-rendering:  optimizeLegibility; 
    -webkit-font-smoothing:  antialiased;
    line-height: 28px; 
    padding-bottom: 5px;
  } 

  .six.columns  { 
    width: 430px;
  } 

  label { 
    display: block; 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  13px;
    font:   inherit;
    touch-action:  manipulation;
    font-weight: bold; 
  } 

  input { 
    touch-action: manipulation;
  } 

  input[type="submit"] { 
    background: #f2f2f2; 
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); 
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); 
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); 
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); 
    background: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); 
    border: 1px solid #aaa; 
    border-top: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    padding: 3px 12px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    display: inline-block; 
    font-size: 11px; 
    font-weight: bold; 
    text-decoration: none; 
    text-shadow: 0 1px rgba(255, 255, 255, 0.75); 
    cursor: pointer; 
    margin: 0 0 20px 0; 
    line-height: 21px; 
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    -webkit-appearance: none; 
    background-color: #cc5e08;
  } 

  .action_button,input.action_button[type="submit"] { 
    background: #cc5e08; 
    border: 1px solid #cc5e08; 
    padding: 8px 20px; 
    text-align: center; 
    font-size: 14px; 
    cursor: pointer; 
    font-weight: normal; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    -webkit-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-family: Roboto; 
    text-shadow: 0 1px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    color: #fff !important; 
    transition: all .2s linear; 
    -o-transition: all .2s linear; 
    -moz-transition: all .2s linear; 
    -webkit-transition: all .2s linear; 
    margin-bottom: 0; 
    -webkit-appearance: none; 
    outline: none;
  } 

  .columns.alpha { 
    margin-left: 0;
  } 

  .three.columns  { 
    width: 205px;
  } 

  input[type="text"] { 
    display: block; 
    width: 100%; 
    height: 40px; 
    min-height: 40px; 
    padding: 0 9px; 
    margin: 0; 
    line-height: 22px; 
    border: 1px solid #dfdfdf; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius: 2px; 
    outline: none; 
    background: #fff; 
    color: #5f6a7d; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    margin-bottom: 15px;
  } 

  span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
  } 

  .columns.omega { 
    margin-right: 0;
  } 

  input[type="email"] { 
    display: block; 
    width: 100%; 
    height: 40px; 
    min-height: 40px; 
    padding: 0 9px; 
    margin: 0; 
    line-height: 22px; 
    border: 1px solid #dfdfdf; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius: 2px; 
    outline: none; 
    background: #fff; 
    color: #5f6a7d; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    margin-bottom: 15px;
  } 

  label span  { 
    font-weight: bold; 
    font-size: 13px; 
    color: #444;
  } 

  .red { 
    color: #C33;
  } 
}     
